body {
  margin: 0;
}

div {
  background: rgb(236, 204, 248);
  /* overflow: auto; */
  /* padding: 1px 0; (pas top ajoute des pixels non voulus)*/
  /* border: 1px solid transparent; */
  display: flow-root; /*meilleur choix plus moderne et plus adapte au context*/
}

/* div:first-child {
  margin-bottom: 50px;
} */
div > div {
  background: #fcf394;
  height: 60px;
  margin: 20px 0;
}

.gradient {
  height: 100px;
  background: #1aa1d6;
  background: linear-gradient(
    103deg,
    rgba(26, 161, 214, 1) 0%,
    rgba(18, 150, 135, 1) 31%,
    rgba(47, 186, 105, 1) 58%,
    rgba(247, 228, 57, 1) 100%
  );
}
