html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  /* inclure les padding et border dans le calcul du width et du height de chaque element */
}

body {
  background: #efcdf4;
  font-size: 0;
}

body > div {
  height: 20%;
  background: #f8afa1;
}

span {
  height: 80%;
  width: 50%;
  padding: 20px 10px 20px 20px;
  display: inline-block;
}

span:last-child {
  padding: 20px 20px 20px 10px;
}

span > div {
  height: 100%;
}
span div {
  background: #b8eff3;
}
span:last-child div {
  background: #b8f3da;
}
