html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  /* inclure les padding et border dans le calcul du width et du height de chaque element */
}

body > header {
  height: 20%;
  background: #2c93fa;
}

main {
  background: #f3fcff;
  display: flow-root;
}

body > footer {
  height: 10%;
  background: #2c93fa;
}

body > header,
main,
body > footer {
  padding: 15px;
}
