html,
body {
  margin: 0;
}

* {
  border: 1px solid black;
  box-sizing: border-box;
  /* inclure les padding et border dans le calcul du width et du height de chaque element */
}

body {
  padding-top: 60px;
}

.posr p,
.posa p {
  width: 400px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.posr p {
  position: relative;
  bottom: 415px;
  right: -35px;
}

.posa p {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.posa {
  position: relative;
}

header {
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
